<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbatchexample.CustomerRepository">
  <select id="selectCustomer" resultType="com.example.springbatchexample.Customer">
    SELECT * FROM customers
  </select>

  <insert id="insertCustomer" parameterType="com.example.springbatchexample.Customer">
    INSERT INTO customers (customerNumber, customerName, contactLastName, contactFirstName, phone,
                           addressLine1, addressLine2, city, state, postalCode, country,
                           salesRepEmployeeNumber, creditLimit)
    VALUES (#{customerNumber}, #{customerName}, #{contactLastName}, #{contactFirstName}, #{phone}
           , #{addressLine1}, #{addressLine2}, #{city}, #{state}, #{postalCode}, #{country}, #{salesRepEmployeeNumber}, #{creditLimit})
  </insert>
</mapper>
